# --- Database ---
POSTGRES_DB=indicebbs
POSTGRES_USER=indicebbs
POSTGRES_PASSWORD=changeme_strong_password

# --- App ---
# BASE_URL is used for absolute links (email etc); leave with trailing slash off
BASE_URL=https://hub.c-innovation.com.br/bbs
ROOT_PATH=/bbs
SECRET_KEY=change_this_to_a_long_random_string
TZ=America/Sao_Paulo

# --- Usuário Padrão do Sistema ---
DEFAULT_USER_EMAIL=admin@c-innovation.com.br
DEFAULT_USER_NAME=Administrador
DEFAULT_USER_ROLE=admin
